<section class="row m-5 p-2 background-oscuro">
    <div class="col-sm-3 m-auto">
        <img class="img-fluid mx-auto my-auto d-block w-75 sv-img" src=".\assets\Seccion_1_Extra.png">
    </div>
    <div class="col-sm-9 py-5 px-2">
        <div class="mt-3">
            <h1 class="mb-0 sv-tipo1">SOFÍA VIDELA VEGA</h1>
        </div>
        <div class="mb-3">
            <h3 class="mt-0 sv-tipo2">Full Stack Develloper Jr.</h3>
        </div>
        <div class="mx-5">
            <hr class="mx-5 sv-hr">
            <div>
                <p class="text-center sv-tipo1 my-2">Soy en primer lugar una persona que siempre es llevada por la
                    curiocidad y la busqueda de nuevos desafíos. </p>
                <p class="text-center sv-tipo1 my-2">Tengo conocimientos <strong>front-end</strong>, para trabajar en el conjunto de tecnologías de HTML5, CSS3 y
                    JavaScript, así como tambien con TypeScript dentro del entrono de desarrollo del framework de
                    Angular. Me puedo encargar de generar la maquetación del sitio web y el código orientado a la
                    inmersión de los usuarios en el sitio, al trabajar en el ámbito visual tengo nociones básicas de
                    diseño, soy creativa y manejo herramientas de usabilidad y experiencia de usuario que me
                    permiten crear interfaces funcionales para cada proyecto.</p>
                <p class="text-center sv-tipo1 my-2">Mis conosimientos en el ámbito del <strong>back-end</strong> aún no estan muy fijados pero tengo conocimientos en
                    Java y el uso de Spring Boot en el desarrollo de APis Web, vinculadas a bases de datos SQL.</p>
            </div>
            <hr class="mx-5 sv-hr">
        </div>
    </div>
</section>