<article class="my-2 background-oscuro" id="article-perfil">
    <div class="row">
    <div class="col-5 col-lg-3  m-auto">
        <img class="img-fluid mx-auto my-auto d-block w-75 sv-img" src=".\assets\Seccion_1_Extra.png">
    </div>
    <div class="col-lg-9 py-5 px-2">
        <div class="mt-3">
            <h1 class="mb-0 sv-tipo1 color-claro">SOFÍA VIDELA VEGA</h1>
        </div>
        <div class="mb-3">
            <h3 class="mt-0 sv-tipo2 color-claro">Full Stack Develloper Jr.</h3>
        </div>
        <div class="mx-3">
            <hr class="mx-5 sv-hr-claro">
            <div>
                <p class="sv-tipo1 color-claro my-2">Me caracteriza la curiosidad y mi buena predisposición a aprender cosas nuevas. Busco formar parte de un equipo IT porque estoy segura que es forma de consolidar mis conocimientos y encontrar el área en que me gustaría perfeccionarme. </p>
                <p class="sv-tipo1 color-claro my-2">Tengo conocimientos básicos en el ámbito del front-end y el back-end. Aunque actualmente puedo desempeñarme con un poco más de soltura en el frontend, y me gusta participar en los procesos de de diseño de IU y UX.</p>
                <p class="sv-tipo1 color-claro my-2">Estoy en la busqueda constante de fortalecer mis habilidades y adquirir nuevas. Aún no he tenido la posibilidad de desempeñarme en un equipo pero es algo que realmente me gustria y lo tengo pendiente.</p>
            </div>
            <hr class="mx-5 sv-hr-claro">
        </div>
    </div>
</div>
</article>