
.sv-tipo2{
    font-size: 0.8em;
}
.error{
    font-family: 'Raleway', sans-serif;
    color: rgb(202, 23, 23);
}
.sv-background{
    background-image:url(src\assets\contacto.jpg) ;
}
.sv-background-element{
    background-color: rgba(189, 179, 179, 0.7);
}