/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.row, .row .tarjeta {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

:root {
    ---bs-body-bg-oscuro: #212529;
    ---bs-color-bg: #1F3D40;
    ---bs-body-bg-claro: #F0F0E9;
    ---bs-color-principal: #7B9C94;
    ---bs-color-acento1: #93bab1;
    ---bs-color-acento2: #2D6165;
    ---bs-color-acento3: #7E5F86;
}

.color-oscuro {
    color: var(---bs-color-bg);
}

.color-claro {
    color: var(---bs-body-bg-claro);
}

.color-claro2 {
    color: var(---bs-color-acento1);
}

.body {
    display: flex;
    justify-content: space-evenly;
    background-color: var(---bs-color-principal);
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    float: right;
    margin-right: 7%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    float: right;
}

nav, footer {
    z-index: 90;
    width: 100%;
    background-color: var(---bs-body-bg-oscuro);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

nav {
    height: 80px;
}

nav>div {
    background-color: var(---bs-body-bg-oscuro);
}

li>ul.dropdown-menu {
    border: none;
}

footer {
    height: 130px;
}

aside .list-group-item.active {
    background-color: var(---bs-color-acento3);
    border-color: var(---bs-color-acento3);
}

aside {
    position: fixed;
    top: 150px;
    margin: 7%;
    border-radius: 10px;
}

.row>aside>div {
    width: 5%;
    background-color: var(---bs-body-bg-oscuro);
    align-items: center;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

.row>aside>div a {
    text-align: center;
    background-color: var(---bs-body-bg-oscuro);
    border: none;
}


.img {
    position: relative;
    top: -25px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

.sv-img {
    border-radius: 10px;
    opacity: 0.85;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

.sv-hr-claro {
    border: 1.5px solid var(---bs-color-principal);
}

.sv-hr-oscuro {
    border: 1.5px solid var(---bs-color-bg);
}

svg {
    color: var(---bs-body-bg-claro);
}

svg:hover {
    transition: 0.3s;
    color: var(---bs-color-acento3);
    scale: 140%;
    cursor: pointer;
}

.list-group-item-action svg:hover, .list-group-item-action svg:active {
    transition: 0.3s;
    color: var(---bs-color-acento3);
    scale: 140%;
    cursor: pointer;
}

h2, h5 {
    font-family: 'Raleway', sans-serif;
}

h6 a {
    text-decoration: none;
}

p {
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}

.sv-tipo1 {
    font-family: 'Raleway', sans-serif;
}

.sv-tipo2 {
    font-family: 'Roboto Slab', serif;
}

.background-oscuro {
    border: none;
    background: var(---bs-color-bg);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.background-intermedio {
    border: none;
    background: var(---bs-color-acento3);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.background-claro {
    border: none;
    background: var(---bs-body-bg-claro);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

@media screen and (max-width:992px) {
    article {
        width: 100%;
        margin-right: 0;
    }
#article-perfil, #article-educacion, #article-contacto{
    border-radius: 0;
}
#scroll{
    padding: 0;

}
#article-contacto{
    margin-bottom: 0;
}
    article .row {
        margin: 0;
        padding: 0;
    }

    section {
        width: 100%;
    }

    aside {
        margin: 3%;
    }

    .row>aside {
        position: fixed;
        bottom: 75px;
        top: auto;
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    .row>aside>div {
        width: 60%;
    }

    aside>.list-group {
        height: fit-content;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }

    .row>aside>.list-group .list-group-item {
        border-radius: 10px;
    }
}