/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

:root {
    ---bs-body-bg-oscuro: #212529;
    ---bs-body-bg-claro: #7B9C94;
    ---bs-color-principal: #7B9C94;
    ---bs-color-acento:#7E5F86 ;
  }
.body {
        background-color: #7B9C94;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    float: right;
}

nav, footer {
    width: 100%;
    background-color: #212529;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}
nav{
    height: 80px;
}
footer{
    height: 130px;
}
aside .list-group-item.active{
    background-color: var(---bs-color-acento);
    border-color: var(---bs-color-acento);
}
aside{
position: fixed;
top: 150px;
margin: 7%;
border-radius: 10px;
}

.row>aside>div{
    width: 5%;
    background-color: #212529;
    align-items: center;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}
.row>aside>div a{
    text-align: center;
    background-color: #212529;
    border:none;
}

.sv-img {
    border-radius: 10px;
    opacity: 0.85;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

.sv-hr {
    border: 1.5px solid #F0F0E9;
}

svg {
    color: #F0F0E9;
}

svg:hover {
    transition: 0.3s;
    color: #7E5F86;
    scale: 140%;
    cursor: pointer;
}

.list-group-item-action  svg:hover,.list-group-item-action  svg:active{
    transition: 0.3s;
    color: #7E5F86;
    scale: 140%;
    cursor: pointer;
}

h2, h5 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

.sv-tipo1 {
    font-family: 'Raleway', sans-serif;
    color: #F0F0E9;
}

.sv-tipo2 {
    font-family: 'Roboto Slab', serif;
    color: #F0F0E9;
}

.background-oscuro {
    border: none;
    background: #1F3D40;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

.background-intermedio {
    background: #7E5F86;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width:992px) {
    article {
        width: 85%;
    }
    aside{
        margin: 3%;
    }

    .row>aside{
        position: fixed;
        bottom: 45px;
        top: auto;
        display: flex;
        justify-content: center;
        z-index: 100;
    }
    .row>aside>div{
        width: 40%;
    }
    aside>.list-group{
        height: fit-content;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }
    .row>aside>.list-group .list-group-item{
        border-radius: 10px;
    }
}
